@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.main {
  /* height: 500px; */
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(122, 114, 253);
  background: linear-gradient(
    4deg,
    rgba(122, 114, 253, 1) 38%,
    rgba(158, 65, 245, 1) 55%,
    rgba(169, 49, 242, 1) 76%
  );
}

.main > h5 {
  font-size: 35px;
}

.main > img {
  height: 50px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.login-txt {
  color: #fff;
}

input {
  height: 40px !important;
  width: 80%;
  /* margin: 5px; */
  /* border: none; */
  /* box-shadow: 0px 3px 15px rgb(84, 84, 84, 0.1); */
  cursor: pointer;
  /* border: 1px solid #1a87ec; */
  /* border-radius: 2px; */
  font-size: 18px;
  /* padding: 8px; */
  outline: none;
  border: unset;
  border-bottom: 1px solid lightgrey;
  /* background: transparent; */
  color: #fff;
  background-color: transparent;
}

input::placeholder {
  color: #fff;
}

input ::-moz-focus-inner {
  color: transparent;
}

.main button {
  width: 200px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin: 15px 0px;
}

button:hover {
  background: #fff;
  transition: 0.3s ease-out;
  color: #000;
}

.swal2-confirm {
  width: 200px !important;
  background-color: #1a87ec;
  box-shadow: none !important;
}
.forget a {
  color: #fff;
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social img {
  height: 25px;
}

.quiz-page {
  background-color: red;
}

.forget .hint-btn {
  width: 200px !important;
  height: 30px !important;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
