body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
}



.main {
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(122,114,253);
    background: linear-gradient(4deg, rgba(122,114,253,1) 38%, rgba(158,65,245,1) 55%, rgba(169,49,242,1) 76%);
}

.main>h5 {
    font-size: 35px;
}

.main>img {
    height: 50px;
    margin-top: -50px;
    margin-bottom: 60px;
}

input {
    height: 40px !important;
    width: 80%;
    margin: 5px;
    border: none;
    box-shadow: 0px 3px 15px rgb(84, 84, 84, 0.1);
    /* outline: none; */
    cursor: pointer;
    border: 1px solid #1A87EC;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    color: #fff;
}

input::placeholder{
    color: #fff;
}

input ::-moz-focus-inner {
    color: transparent;
}

.main button {
    width: 125px;
    border-radius: 20px;
    background-color: #ffffff;
    height: 50px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    line-height: 1.8;
    cursor: pointer;
}

button:hover {
    background: #1A87EC;
    transition: 0.3s ease-out;
    transform: translateY(2px);
    color: rgb(255, 255, 255) !important;
}

.swal2-confirm{
    width: 200px !important;
    background-color: #1A87EC;
}

.swal2-confirm:focus{
    border: none !important;
}

.forget a{
    color: #fff;
    text-decoration: none;
}

















.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
}

.social img {
    height: 30px;
}

.quiz-page {
    background-color: red;
}